
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}
p{
  line-height: 2;
  color: #8f8f8f;

}

/* Headings */

.headings{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: 700;
  padding-top: 50px;
}

.sub-headings{
  font-size: 1.5rem;
  font-weight: 500;
}

/* Navbar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 1.5rem;
}

.navbar-brand:hover{
  color: grey;
}

.container-fluid{
  padding: 3% 15%;
}

.nav-item{
  padding: 0 18px;
  font-family: 'Merriweather', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

/* Top container */

.top-container{
  align-items: center;
}

.self-img{
  width: 60%;
  border-radius: 20%;
}

.top-txt{
  justify-content: center;
  display: flex;
  align-items: center;
}

#top-container h1{
  padding: 100px 0 50px;
  font-size: 3.5rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

/* Middle Container */

.middle-container{
  position: relative;
  height: 100%;
}

/* profile */

.profile-row{
  margin: 100px auto;
}

/* Skills */

.skill-row{
  padding-bottom: 20%;
  text-align: left;
  height: 100%;
  display: block;
}

.top-skill{
  margin: 100px auto 0;
}

.left-img{
  width: 25%;
  float:left;
  margin-right: 30px;
  max-height: 200px;
  max-width: 200px;
}
.right-img{
  width: 25%;
  float:right;
  margin-left: 30px;
  max-height: 200px;
  max-width: 200px;
}

.bottom-skill{
  padding-bottom: 10%;
}

/* CTA */

.btn-dark{
  margin-top: 50px;
}

/* Bottom Container */

.footer{
  padding: 50px 0 5%;
  width: 100%;
  background-color: #fafafb;
  margin: 100px 0 0;
}
.footer-link{
  padding-right:1rem;
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  color: var(--bs-nav-link-color);
  opacity: .5;
}
.creator{
  padding-top: 50px;
  opacity: .5;
  clear: both;
}

/* Projects */
#middle{
  text-align: center;
}
