
h1{
  font-size: 3.5rem;
  margin: 0;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  font-weight: bold;
}

h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;

}
h3{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
}
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  -webkit-text-size-adjust: none;


}
hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 10%;
  margin: auto;
}
p{
  line-height: 2;
}

/* Navbar */

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 1.5rem;
}

.navbar-brand:hover{
  color: grey;
}

.container-fluid{
  padding: 3% 15%;
}

/* Top container */

.top-container{
  align-items: center;
}
.self-img{
  width: 70%;
  border-radius: 20%;
}

.top-txt{
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Middle Container */

.middle-container{
  padding: 3% 15%;
}

.profile{
  margin: 100px auto;

}
.profile-row{
  margin-top: 100px;
}


.skills{
  margin-top: 100px;
  height: 100%;
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.CRPS-img{
  width: 25%;
  text-align: center;
  float:left;
  margin-right: 30px;
}
.CFOA-img{
  width: 25%;
  text-align: center;
  float:right;
  margin-left: 30px;
}
.CX-img{
  width: 25%;
  text-align: center;
  float:left;
  margin-right: 30px;
}

.DD-img{
  width: 25%;
  text-align: center;
  float:right;
  margin-left: 30px;
}
.contact-me{
  margin-top: 100px;
}
